<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHHGRraLUBYcwJ6u4ZAYVp7-Vb2BE5O90</string>
	<key>GCM_SENDER_ID</key>
	<string>31633447332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.prueba.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-login-920b2</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-login-920b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31633447332:ios:ebed0154f08d170c500931</string>
</dict>
</plist>